.container {
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  border-radius: var(--round);
  padding: 2rem 0 1rem 0;
  justify-self: center;
  width: 50%;
  font-family: var(--baloo);
  box-shadow: 5px 5px 10px;
}
form input {
  background-color: var(--primary-bg);
  padding: 0.5rem 0.6rem;
  line-height: 1.5;
  color: white;
  outline: 0;
  border: 0;
  border: 2px solid var(--accent-yellow);
  width: 100%;
  font-size: 1rem;
  border-radius: var(--round);
}
input::placeholder {
  color: white;
  font-size: 1rem;
  font-family: var(--baloo);
  opacity: 0.8;
  transition: 0.3s;
}
label {
  position: relative;
  opacity: 0;
  color: var(--accent-yellow);
  font-weight: 500;
  line-height: 1.8;
  transition: 0.3s;
  top: -30px;
  left: 10px;
}
input:focus + label {
  top: -55px;
  opacity: 1;
}
input:focus {
  border: 0px;
  border-bottom: 2px solid var(--accent-yellow);
}
input:focus::placeholder {
  opacity: 0;
}
.cred {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
}
.welcomeText {
  margin-top: 0;
  span {
    font-size: var(--font-xlarge);
  }
  p {
    font-size: var(--font-large);
  }
}
.buttons {
  display: flex;
  flex-flow: row wrap;
}
button {
  width: 40%;
  margin: 0 auto;
}
.log {
  color: var(--accent-yellow);
  background-color: white;
}
.log:hover {
  background-color: white;
}
