.container {
  padding: 0;
}
form {
  display: flex;
  flex-direction: column;
  border-radius: var(--round);
  padding: 2rem 0 1rem 0;
  justify-self: center;
  width: 50%;
  font-family: var(--baloo);
  box-shadow: 5px 5px 10px;
}
form input {
  background-color: var(--primary-bg);
  padding: 0.5rem 0.6rem;
  line-height: 1.5;
  color: white;
  outline: 0;
  border: 0;
  border: 2px solid var(--accent-yellow);
  width: 100%;
  font-size: 1rem;
  border-radius: var(--round);
}
