body {
  font-family: var(--baloo);
  color: var(--text-color);
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1 {
  font-family: var(--fredoka);
  font-size: var(--font-large);
  color: white;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
}
.quiz-card {
  background-color: var(--secondary-bg);
  border-radius: var(--round);
  border: 1px solid var(--quiz-card-border);
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 260px;
  max-width: 14rem;
  box-sizing: border-box;
  transition: 0.3s;
}
.quiz-card:hover {
  scale: 1.05;
}

.quiz-card h2 {
  font-family: var(--fredoka);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: var(--font-size);
}

.quiz-card .score {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.quiz-card .score-value {
  font-weight: bold;
}

.quiz-card .start-button {
  background-color: var(--button-primary);
  color: white;
  font-family: var(--fredoka);
  border: none;
  padding: 10px 20px;
  border-radius: var(--round);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.quiz-card .start-button:hover {
  background-color: var(--button-hover);
}
.logout {
  font-size: var(--font-size);
  color: var(--accent-yellow);
  cursor: pointer;
}

/* Respomsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  header h1 {
    font-size: var(--font-large);
  }
  .quiz-list {
    gap: 12px;
  }
  .quiz-card h2 {
    font-size: var(--font-size);
  }
  .quiz-card .score {
    font-size: var(--font-small);
  }
  .logout {
    font-size: var(--font-small);
  }
}

@media (max-width: 480px) {
  header {
    max-width: 300px;
  }
  header h1 {
    font-size: var(--font-large);
  }
  .quiz-list {
    gap: 12px;
    padding: 0;
  }
  .quiz-card h2 {
    font-size: var(--font-size);
  }
  .quiz-card .score {
    font-size: var(--font-small);
  }

  .logout {
    font-size: var(--font-small);
  }
}
