body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--baloo);
}
.quiz-card {
  border-radius: 30px;
  margin-top: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  min-height: 90vh;
  padding: 3rem 1.5rem;
  background: linear-gradient(109.6deg, #5f99f0 0%, #57a0db 100%);
}
.timer {
  border-radius: 30px;
  background-color: var(--secondary-bg);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#timer {
  font-weight: bold;
  font-size: var(--font-size);
  letter-spacing: 2px;
  transition: 0.3s;
}

.question {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.7);
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.option {
  border: 0;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in-out;
  width: 90%;
  justify-self: center;
  cursor: pointer;
  color: var(--text-color);
}
.option:hover {
  scale: 1.03;
  background-color: var(--accent-yellow);
  font-weight: 700;
}
.option.selected {
  scale: 1.03;
  border: 2px solid black;
  background-color: var(--accent-yellow);
  font-weight: 700;
}
