body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--baloo);
}
.quiz-card {
  border-radius: 30px;
  margin-top: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  min-height: 90vh;
  padding: 3rem 1.5rem;
  background: linear-gradient(109.6deg, #5f99f0 0%, #57a0db 100%);
}
.timer {
  border-radius: 30px;
  background-color: var(--secondary-bg);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#timer {
  font-weight: bold;
  font-size: var(--font-size);
  letter-spacing: 2px;
  transition: 0.3s;
}

.question {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.7);
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.option {
  border: 0;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease-in-out;
  width: 90%;
  justify-self: center;
  cursor: pointer;
  color: var(--text-color);
}
.option:hover {
  scale: 1.03;
  background-color: var(--accent-yellow);
  font-weight: 700;
}
.option.selected {
  scale: 1.03;
  border: 2px solid black;
  background-color: var(--accent-yellow);
  font-weight: 700;
}
.option.correct {
  scale: 1.03;
  border: 2px solid black;
  background-color: var(--correct-answer);
  font-weight: 700;
}
.option.selected.wrong {
  scale: 0.99;
  border: 2px solid black;
  background-color: var(--wrong-answer);
  font-weight: 700;
}
.option.correct:disabled:hover {
  background-color: var(--correct-answer);
  font-weight: 700;
}
.option.selected.wrong:disabled:hover {
  background-color: var(--wrong-answer);
  font-weight: 700;
}
.submit {
  margin-top: 15px;
  transition: 0.3s ease-in;
}
.submit.hidden {
  opacity: 0 !important;
}
.option:disabled,
.submit:disabled {
  opacity: 0.9 !important;
  cursor: not-allowed !important;
}
.option:disabled:hover {
  scale: 1;
  background-color: rgba(255, 255, 255, 0.416);
  font-weight: 400;
  color: var(--text-color);
}
.finished {
  background-color: var(--wrong-answer);
  color: white;
}
.ending {
  animation-name: ending;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
/* Animation */
@keyframes ending {
  0% {
    background-color: var(--wrong-answer);
    scale: 1.1;
  }
  25% {
    background-color: white;
    color: var(--text-color);
    scale: 1;
  }
  50% {
    background-color: var(--wrong-answer);
    scale: 1.1;
  }
  75% {
    background-color: white;
    color: var(--text-color);
    scale: 1;
  }
  100% {
    background-color: var(--wrong-answer);
    scale: 1.1;
  }
}
/* Responsive */
@media (max-width: 480px) {
  .quiz-card {
    padding: 1rem 1rem;
    min-height: 90vh;
    margin-top: 0;
    min-width: 90%;
  }
  .timer {
    padding: 0.5rem 1rem;
  }
  #timer {
    font-size: var(--font-small);
  }
  .question {
    font-size: var(--font-size);
    margin-bottom: 1rem;
  }
  .options-container {
    grid-template-columns: 1fr; /*one on eahc row */
    gap: 1rem;
  }
  .option {
    padding: 1rem;
    font-size: var(--font-small);
  }
}
